node_modules
# Keep environment variables out of version control
.env
.env-dev
.next
prisma/migrations
.git
package-lock.json
uploads
test.js
yarn.lock
.DS_Store
components/.DS_Store
yarn-error.log
public/downloads/*
